
.menu{

	font-size: 18px;
	background-color: #FFA500;
	text-align: center;
	padding-top: 20px;

}
.menu ul li{
	margin: 90px;
	display: inline;
	color: white;
}
.menu li a{
	text-decoration: none;
	margin: 0 10px;
	padding-bottom: 5px
	color: green;
}
.content{
	margin: 0 auto;
	width: 880px;
	height: 290px;
	background-color: #ddd;
	padding:10px;
}
.carousel1 .carousel-inner{
	height: 400px;
}
.col{
	display: block;
}
.fontku {
	font-family: georgia;
}
.navbar-brand i {
	font-size: 25px;
	font-family: italic;
	
}
.fontnav{
	font-size: 25px;
	font-family: georgia;
	color: black;
}
body {
	background-image: url("bacgroun-meal.jpg");
}
.categori{
	width: 400px;
	height: 200px
}